<form class="example-form" [formGroup]="forma">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Titulo" formControlName="titulo">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Descripción" formControlName="desc"></textarea>
    </mat-form-field>
    <button (click)="guardarCambios();" mat-raised-button  color="accent">Guardar</button> &nbsp;
    <button (click)="onNoClick()" mat-raised-button  color="warn">Cancelar</button>
  </form>